<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../favicon.ico">

  <title>{{@pageTitle}}</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">

  <!-- Custom styles for this template -->
  <link rel="stylesheet" type="text/css" href="../stylesheets/community.css">
  <!--<link href="" rel="stylesheet">-->
</head>

<body>

<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-7 col-md-7 py-4">
          <h4 class="text-white">About</h4>
          <p class="text-muted">We're two guys working on bringing communication to the hardware and technology space by creating a unique type of forum that allows questions to be answered and info to be shared!</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <li><a href="mailto:contact@hardwaretalk.com" class="text-white">Email me</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark box-shadow">
    <div class="container d-flex justify-content-between">
      <a href="{{ @BASE }}" class="navbar-brand d-flex align-items-center">
        <img src="../images/logo.png" width="30" height="30">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>

<!--Create container for the post and it's data-->
<div class="container">

</div>

<!--Container for the comments-->
<div class="container">
  <repeat group="{{ @comments }}" value="{{ @comment }}">
    <div class="comment-container border">
      <div class="row">
        <div class="col-2 border-right">
          <span>User information here</span>
        </div>
        <div class="col-10">
          <div class="comment-text">
            <span>{{ @comment.comment_text }}</span>
          </div>
        </div>
      </div>
    </div>
  </repeat>
</div>

<!--create form to submit new comments-->

<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
  </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>