<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Hardware Talk - Home</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/album/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/home.css"></link>

    <!-- Custom styles for this template -->
    <!--<link href="" rel="stylesheet">-->
</head>

<body>

<header>
    <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-7 col-md-7 py-4">
                    <h4 class="text-white">About</h4>
                    <p class="text-muted">We're two guys working on bringing communication to the hardware and technology space by creating a unique type of forum that allows questions to be answered and info to be shared!</p>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <h4 class="text-white">Contact</h4>
                    <ul class="list-unstyled">
                        <li><a href="mailto:contact@hardwaretalk.com" class="text-white">Email me</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
            <a href="#" class="navbar-brand d-flex align-items-center">
                <img src="images/logo.png" width="30" height="30"></img>&nbsp;
                <strong>Hardware Talk</strong>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</header>

<main role="main">

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Communities</h1>
            <p class="lead text-muted">As a member, you can join specific communities which will put the content you want to see right in your home feed! Below are some examples of popular posts from some of these communities.</p>
            <p>
                <a href="login" class="btn btn-primary my-2">Member Login</a>
                <a href="register" class="btn btn-secondary my-2">Member Registration</a>
            </p>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <div class="container">
                            <img class="card-img-top gradient" alt="Card image cap" src="images/communities/img_1.png">
                            <div class="centered disable-select"><p class="community-text"><a href="gaming" class="community-text">Gaming</a></p></div>
                        </div>
                        <div class="card-body">
                            <div class="container text-container">
                                <a href=""><img class="thumbnail" src="images/thumbnails/xbox.jpg"></a>
                                <p class="card-text"><a href="">Wow guys look a black Xbox controller.</a></p>
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-muted disable-select">10 mins ago</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <div class="container">
                            <img class="card-img-top gradient" alt="Card image cap" src="images/communities/img_2.png">
                            <div class="centered disable-select"><p class="community-text">Setups</p></div>
                        </div>
                        <div class="card-body">
                            <div class="container text-container">
                                <a href=""><img class="thumbnail" src="images/thumbnails/battlestation.jpg"></a>
                                <p class="card-text"><a href="">Enough RGB lighting to illuminate my empty wallet</a></p>
                            </div>
                            <div class="d-flex justify-content-between align-items-center card-foot">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-muted disable-select">13 hours ago</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <div class="container">
                            <img class="card-img-top gradient" alt="Card image cap" src="images/communities/img_3.png">
                            <div class="centered disable-select"><p class="community-text">CustomPC</p></div>
                        </div>
                        <div class="card-body">
                            <div class="container text-container">
                                <a href=""><img class="thumbnail" src="images/thumbnails/text.png"></a>
                                <p class="card-text"><a href="">Radeon 6900XT = Nice</a></p>
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-muted disable-select">69 hours ago</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <div class="container">
                            <img class="card-img-top gradient" alt="Card image cap" src="images/communities/img_4.png">
                            <div class="centered disable-select"><p class="community-text">Laptops</p></div>
                        </div>
                        <div class="card-body">
                            <div class="container text-container">
                                <a href=""><img class="thumbnail" src="images/thumbnails/laptop.jpg"></a>
                                <p class="card-text"><a href="">Don't @ me unless you had one of these bad bois</a></p>
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-muted disable-select">10 hours ago</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <div class="container">
                            <img class="card-img-top gradient" alt="Card image cap" src="images/communities/img_5.png">
                            <div class="centered disable-select"><p class="community-text">Phones</p></div>
                        </div>
                        <div class="card-body">
                            <div class="container text-container">
                                <a href=""><img class="thumbnail" src="images/thumbnails/text.png"></a>
                                <p class="card-text"><a href="">iPhone 13 Leaks confirmed 100% legit no scam (from Steve Jobs' mouth)</a></p>
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-muted disable-select">3 hours ago</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <div class="container">
                            <img class="card-img-top gradient" alt="Card image cap" src="images/communities/img_6.png">
                            <div class="centered disable-select"><p class="community-text">Deals</p></div>
                        </div>
                        <div class="card-body">
                            <div class="container text-container">
                                <a href=""><img class="thumbnail" src="images/thumbnails/link.png"></a>
                                <p class="card-text"><a href="">PS5 from eBay - Only $10,000 - One left in stock</a></p>
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-muted disable-select">1 second ago</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <div class="container">
                            <img class="card-img-top gradient" alt="Card image cap" src="images/communities/img_7.png">
                            <div class="centered disable-select"><p class="community-text">News</p></div>
                        </div>
                        <div class="card-body">
                            <div class="container text-container">
                                <a href=""><img class="thumbnail" src="images/thumbnails/link.png"></a>
                                <p class="card-text"><a href="">Elon Musk confirms latest Tesla will make you a sandwich (NOT CLICKBAIT!)</a></p>
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-muted disable-select">3 mins ago</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <div class="container">
                            <img class="card-img-top gradient" alt="Card image cap" src="images/communities/img_8.png">
                            <div class="centered disable-select"><p class="community-text">Coding</p></div>
                        </div>
                        <div class="card-body">
                            <div class="container text-container">
                                <a href=""><img class="thumbnail" src="images/thumbnails/link.png"></a>
                                <p class="card-text"><a href="">Frequently Visited - How to open a ticket with webhostingforstudents.com</a></p>
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-muted disable-select">2 hours ago</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <div class="container">
                            <img class="card-img-top gradient" alt="Card image cap" src="images/communities/img_9.png">
                            <div class="centered disable-select"><p class="community-text">DIY</p></div>
                        </div>
                        <div class="card-body">
                            <div class="container text-container">
                                <a href=""><img class="thumbnail" src="images/thumbnails/nerf.jpeg"></a>
                                <p class="card-text"><a href="">Mod your nerf gun to shoot Airpods into people's ears</a></p>
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-muted disable-select">9 hours ago</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="#">Back to top</a>
        </p>
    </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>