<!--

Author:
Date: 

-->
<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Other Meta Tags -->
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">

  <title>Hardware Talk - Submit Post</title>
</head>
<body>

<div class="container">
  <form class="row">
    <div class="form-group col">
      <label for="postSubject">Post Subject</label>
      <input id="postSubject" type="text">
    </div>
    <div class="form-group col">
      <label for="postText">Post Text</label>
      <textarea id="postText"></textarea>
    </div>
    <div class="form-group col">
      <label for="postMedia">Post Media</label>
      <input id="postMedia" type="text">
    </div>
    <div class="form-group col">
      <input type="submit" class="btn btn-primary">
    </div>
  </form>
</div>


<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>

<!-- Optional JavaScript -->
</body>
</html>