<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Hardware Talk - Gaming</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/album/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/gaming.css"></link>

    <!-- Custom styles for this template -->
    <!--<link href="" rel="stylesheet">-->
</head>

<body>

<header>
    <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-7 col-md-7 py-4">
                    <h4 class="text-white">About</h4>
                    <p class="text-muted">We're two guys working on bringing communication to the hardware and technology space by creating a unique type of forum that allows questions to be answered and info to be shared!</p>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <h4 class="text-white">Contact</h4>
                    <ul class="list-unstyled">
                        <li><a href="mailto:contact@hardwaretalk.com" class="text-white">Email me</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
            <a href="/HardwareTalk" class="navbar-brand d-flex align-items-center">
                <img src="images/logo.png" width="30" height="30"></img>&nbsp;
                <strong>Hardware Talk</strong>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</header>

<div class="row">
    <div class="container">
        <div class="post-container">
            <a href=""><img src="images/thumbnails/xbox.jpg" class="thumbnail"></a>
            <p class="post-title"><a href="">Wow guys look a black Xbox controller.</a></p><br>
            <p class="post-details">Posted 10 minutes ago by <a href="">TheSpiderDies</a></p><br>
            <p class="post-options disable-select"><a href="#comments">Comments (32)</a> | <a href="#save">Save</a></p>
        </div>
    </div>
</div>

<div class="row">
    <div class="container">
        <div class="post-container">
            <a href=""><img src="images/thumbnails/link.png" class="thumbnail"></a>
            <p class="post-title"><a href="">Look at this 360 flick no scope I did in Agar.io</a></p><br>
            <p class="post-details">Posted 1 hour ago by <a href="">SweatyGaymer</a></p><br>
            <p class="post-options disable-select"><a href="#comments">Comments (100)</a> | <a href="#save">Save</a></p>
        </div>
    </div>
</div>

<div class="row">
    <div class="container">
        <div class="post-container">
            <a href=""><img src="images/thumbnails/flappy.jpg" class="thumbnail"></a>
            <p class="post-title"><a href="">You deserve a vetren's discount if you ever played this</a></p><br>
            <p class="post-details">Posted 9 hours ago by <a href="">NormiePoster</a></p><br>
            <p class="post-options disable-select"><a href="#comments">Comments (234)</a> | <a href="#save">Save</a></p>
        </div>
    </div>
</div>

<div class="row">
    <div class="container">
        <div class="post-container">
            <a href=""><img src="images/thumbnails/text.png" class="thumbnail"></a>
            <p class="post-title"><a href="">My 600 page essay on why we need to ban friendlies</a></p><br>
            <p class="post-details">Posted 2 hours ago by <a href="">TF2IsPerfectShutUpShutUp</a></p><br>
            <p class="post-options disable-select"><a href="#comments">Comments (433)</a> | <a href="#save">Save</a></p>
        </div>
    </div>
</div>

<div class="row">
    <div class="container">
        <div class="post-container">
            <a href=""><img src="images/thumbnails/ps5.jpg" class="thumbnail"></a>
            <p class="post-title"><a href="">Do these even exist?</a></p><br>
            <p class="post-details">Posted 19 hours ago by <a href="">WalmartShopper_09</a></p><br>
            <p class="post-options disable-select"><a href="#comments">Comments (114)</a> | <a href="#save">Save</a></p>
        </div>
    </div>
</div>


</main>

<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="#">Back to top</a>
        </p>
    </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>